.token {
    transform: scale(.5) !important;
    animation: move 5s infinite;

    @keyframes move {
        0% {
            transform: translateY(100px) scale(.5);
        }

        50% {
            transform: translateY(0px) scale(.5);
        }

        100% {
            transform: translateY(100px) scale(.5);
        }
    }
}